@model KerazaWebApplication.Models.Sermon

@{
    ViewData["Title"] = "Edit";
}
<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <h1 class="mb-3">Edit Sermon</h1>
</div>
<div class="row">
    <div class="col-md-6 ">
        <div class="sermon-info rounded p-2 mb-2" style="border: 1px dashed #2AA8D8; background-color : white">
            <div class="iconedit icon mb-3">
                <i style="color:#2AA8D8 !important" style="font-size:30px" class="fa fa-edit text-primary"></i>
            </div>
            <img class="img-fluid" src="@Model.ImageURL" alt="" style="width: 100%; height: 300px; object-fit: cover;">
        </div>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="row g-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input asp-for="Title_ar" class="arabicText form-control" id="Title_ar" placeholder="Title in Arabic" />
                        <label for="Title_ar">Title in Arabic</label>
                        <span asp-validation-for="Title_ar" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input asp-for="Title_en" class="form-control" id="Title_en" placeholder="Title in English" />
                        <label for="Title_en">Title in English</label>
                        <span asp-validation-for="Title_en" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-floating my-3">
                <textarea style="height: 121px;" asp-for="Caption" class="form-control" id="Caption" placeholder="Caption">
                </textarea>
                <label asp-for="Caption">Caption</label>
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>

            <div class="form-floating my-3">
                <input asp-for="Date" type="date" class="form-control" id="Date" placeholder="Date" />
                <label for="Date">Date</label>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-floating my-3">
                <input asp-for="ImageURL" class="form-control" id="ImageURL" placeholder="Image URL" />
                <label for="ImageURL">Image URL</label>
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <select asp-for="SpeakerId" class="form-select" asp-items="ViewBag.SpeakerId" id="SpeakerId" placeholder="Speaker">
                            <option></option>
                        </select>
                        <label for="SpeakerId">Speaker</label>
                        <span asp-validation-for="SpeakerId" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select asp-for="TopicId" class="form-select" asp-items="ViewBag.TopicId" id="TopicId" placeholder="Topic">
                            <option></option>
                        </select>
                        <label for="TopicId">Topic</label>
                        <span asp-validation-for="TopicId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-floating my-3">
                <select asp-for="EventId" class="form-select" asp-items="ViewBag.EventId" id="EventId" placeholder="Event">
                    <option></option>
                </select>
                <label for="EventId">Event</label>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>

            <div class="form-floating my-3">
                <select asp-for="LanguageId" class="form-select" asp-items="ViewBag.LanguageId" id="LanguageId" placeholder="Language">
                    <option></option>
                </select>
                <label for="LanguageId">Topic</label>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Create</button>
            </div>
        </form>

    </div>
    <div class="col-md-6">
        <!--PDF-->
        <a asp-controller="File" asp-action="upload" asp-route-fileType="DocFile" asp-route-id="@Model.Id" class="cat-item d-block bg-light text-center rounded">
            <div class="rounded p-4 mt-lg-0 mt-3" style="border: 1px dashed #2AA8D8;">

                @if (String.IsNullOrEmpty(Model.AudioDriveId))
                {
                    <div class="icon mb-3">
                        <i style="color:#2AA8D8 !important" class=" fa fa-plus text-primary"></i>
                    </div>
                    <h6>Add Media</h6>
                }
                else
                {
                    <ifram></ifram>
                }
            </div>
        </a>

        <!--Audio-->
        <a asp-controller="Mediafiles" asp-action="create" asp-route-id="@Model.Id" class="cat-item d-block bg-light text-center rounded">
            <div class="rounded p-4 mt-lg-0 mt-3" style="border: 1px dashed #2AA8D8;">
                <div class="icon mb-3">
                    <i style="color:#2AA8D8 !important" class=" fa fa-plus text-primary"></i>
                </div>
                <h6>Add Media</h6>
            </div>
        </a>
@*         <div class="rounded p-4 mt-lg-0 mt-3" style="border: 1px dashed #2AA8D8;">
        @if (String.IsNullOrEmpty(Model.AudioDriveId))
        {
            <div class="mb-3">
                <label for="formFile" class="form-label">Audio File</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        }else{

            <ifram></ifram>
        } *@
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    .sermon-info {
        /* ... other existing styles ... */
        position: relative; /* Make the container position relative */
    }

    .iconedit {
        /* ... other existing styles ... */
        position: absolute; /* Position the icon absolutely within the container */
        bottom: 5px; /* Adjust bottom position as needed */
        right: 20px; /* Adjust right position as needed */
    }
</style>